body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

.caixa {
    background: white;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 8px;
    cursor: pointer;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}